<section class="advantages-sec adv-wrap">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="list adv-list">
      <li class="adv-list-item">
        <div class="adv-icon-circle">
          <svg width="32px" height="32px" class="adv-icon">
            <use href="/img/sprite.svg#icon-camera"></use>
          </svg>
        </div>
        <p class="adv-hdr">Skills and art</p>
        <p class="advantages-text">
              Each photoset prepared and executed by me is a process of the highest quality
              with a desire for perfection. Discover the world of professional photography that will emphasize your beauty, status and aesthetic refinement of photos.
        </p>
      </li>
      <li class="adv-list-item">
        <div class="adv-icon-circle">
          <svg width="32px" height="32px" class="adv-icon">
            <use href="/img/sprite.svg#icon-affordable-price"></use>
          </svg>
        </div>
        <p class="adv-hdr">Affordable price</p>
        <p class="advantages-text">
          Enjoy high-quality photo shoots without extra costs from Yaroshenko-art.
          Try street, personal or studio shooting. With us, you will be able to realize
          any of your wishes and get the photos of your dreams. Browse our selection and enjoy affordable prices today.
        </p>
      </li>
      <li class="adv-list-item">
        <div class="adv-icon-circle">
          <svg width="32px" height="32px" class="adv-icon">
            <use href="/img/sprite.svg#icon-flag"></use>
          </svg>
        </div>
        <p class="adv-hdr">Own production</p>
        <p class="advantages-text">
          We take pride in our own production process, ensuring that every step
          is carefully crafted to perfection. From selecting the finest
          equipment and location to handcrafting each piece, our attention to detail is
          evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>
