<section id="products" class="section__our-products">
  <div class="our-products__container container">
    <h2 class="our-products__title">
      OUR <span class="second-part__title">TYPES OF PHOTOSHOOT</span>
    </h2>

    <div class="our-products__block">
      <ul class="our-products__list swiper-wrapper list">

        


        <li class="our-products__item swiper-slide">
          <img srcset="
              ./img/products/nat-1.jpg    1x,
              ./img/products/nat-1@2x.jpg 2x
            " src="/img/products/nat-1.jpg" alt="products3" loading="lazy" class="our-products__image" width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">NATURE MAGIC</h3>
            <p class="our-products__type">price for 1 hour photoshoot</p>
            <button class="our-products__price">149 EUR</button>
          </div>
        </li>


      


        <li class="our-products__item swiper-slide">
          <img srrcset="
          ./img/products/par-1.jpg    1x,
          ./img/products/par-1@2x.jpg 2x
        " src="/img/products/par-1.jpg" alt="products5" loading="lazy" class="our-products__image"
            width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">PARTY</h3>
            <p class="our-products__type">price for 1 hour photoshoot</p>
            <button class="our-products__price">149 EUR</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srrcset="
          ./img/products/wd-1.jpg    1x,
          ./img/products/wd-1@2x.jpg 2x
        " src="/img/products/wd-1.jpg" alt="products6" loading="lazy" class="our-products__image"
            width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">WEDDING</h3>
            <p class="our-products__type">price for 1 hour photoshoot</p>
            <button class="our-products__price">149 EUR</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srrcset="
          ./img/products/pg-1.jpg    1x,
          ./img/products/pg-1@2x.jpg 2x
        " src="/img/products/pg-1.jpg" alt="products7" loading="lazy" class="our-products__image"
            width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">PREGNANCY</h3>
            <p class="our-products__type">price for 1 hour photoshoot</p>
            <button class="our-products__price">149 EUR</button>
          </div>
        </li>
        <li class="our-products__item swiper-slide">
          <img srcset="
              ./img/products/stu-1.jpg    1x,
              ./img/products/stu-1@2x.jpg 2x
            " src="/img/products/stu-1.jpg" alt="products3" loading="lazy" class="our-products__image" width="230" />
          <div class="our-products__descr">
          <div class="our-products__descr">
            <h3 class="our-products__name">STUDIO</h3>
            <p class="our-products__type">price for 1 hour photoshoot
            </p>
            <button class="our-products__price">149 EUR</button>
          </div>
        </li>
             <li class="our-products__item swiper-slide">
          <img srrcset="
          ./img/products/ch-1.jpg    1x,
          ./img/products/ch-1@2x.jpg 2x
        " src="/img/products/ch-1.jpg"  alt="products8" loading="lazy" class="our-products__image"
            width="230" />
          <div class="our-products__descr">
            <h3 class="our-products__name">CHILDREN</h3>
            <p class="our-products__type">price for 1 hour photoshoot</p>
            <button class="our-products__price">149 EUR</button>
          </div>
        </li>

        <li class="our-products__item swiper-slide">
          <img srcset="
              ./img/products/lov-1.jpg    1x,
              ./img/products/lov-1@2x.jpg 2x
            " src="/img/products/lov-1.jpg" alt="products1" loading="lazy" class="our-products__image" width="230" />
          <div class="our-products__descr">
          <h3 class="our-products__name">LOVE STORY</h3>
          <p class="our-products__type">price for 1 hour photoshoot</p>
          <button class="our-products__price">149 EUR</button>
        </li>

        <li class="our-products__item swiper-slide">
          <img srcset="
              ./img/products/str-1.jpg    1x,
              ./img/products/str-1@2x.jpg 2x
            " src="/img/products/str-1.jpg" alt="products2" loading="lazy" class="our-products__image" width="230" />
          <div class="our-products__descr">
          <h3 class="our-products__name">STREET'S STORY</h3>
          <p class="our-products__type">price for 1 hour photoshoot</p>
          <button class="our-products__price">149 EUR</button>
        </li>

      </ul>
    </div>
    <div class="our_products__swiper-pagination"></div>
  </div>
</section>