<section id="chocolate-is-loved" class="section__reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title"><span>Photoshoot</span> is loved</h2>
    <div class="reviews__block">

      <div class="reviews__list swiper-wrapper">

        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review1.png 1x, /img/review/review1@2x.png 2x" src="/img/review/review1.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Victoria Dobrzhanska</h3>
          <p class="reviews__item-text">
            I love yaroshenko.art photoshoots. Perfect combination of talent, professionalism and dedication.
          </p>
        </div>

        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review2.png 1x, /img/review/review2@2x.png 2x" src="/img/review/review2.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Albert Amelin</h3>
          <p class="reviews__item-text">
            These photoshoots confection is a delight! A delight! The process is always
            light and funny, the time is running very smart, and the result is perfect for me.
          </p>
        </div>

        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review3.png 1x, /img/review/review3@2x.png 2x" src="/img/review/review3.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Victoria Kyrilenko</h3>
          <p class="reviews__item-text">
            А мені нравитця як Софія фотографує! Люди суєтяться, бігають, аж очі у них вилазять від такої краси. А ми стоїмо, сміємося, нам це по приколу!
          </p>
        </div>

        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review4.png 1x, /img/review/review4@2x.png 2x" src="/img/review/review4.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Hanna Smidt</h3>
          <p class="reviews__item-text">
            The photoshoot assortment was delicious. Both studio and outdoors ones were smooth and just right on the sweetness level.
          </p>
        </div>

        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review5.png 1x, /img/review/review5@2x.png 2x" src="/img/review/review5.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">LeBron James</h3>
          <p class="reviews__item-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love to pose with an apple and almond butter and these chips for
            a snack.
          </p>
        </div>

        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review6.png 1x, /img/review/review6@2x.png 2x" src="/img/review/review6.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Mathew Bellamy</h3>
          <p class="reviews__item-text">
            I love this projest a lot! It`s always pleasure to work with Sophia. She is a true professional!
          </p>
        </div>
        
        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review7.png 1x, /img/review/review7@2x.png 2x" src="/img/review/review7.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Erik Yaroshenko</h3>
          <p class="reviews__item-text">
            Skills, talent, dedication and we have to simple brilliant as result. My wedding photoshoot was the masterpiece!
          </p>
        </div>   
        
        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review8.png 1x, /img/review/review8@2x.png 2x" src="/img/review/review8.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Lana del Rey</h3>
          <p class="reviews__item-text">
            I worked with Sonya in her beautiful studio and I have to say it was a delight! Now I use these awesome photos in my European tour.
          </p>
        </div>

        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review9.png 1x, /img/review/review9@2x.png 2x" src="/img/review/review9.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Jerry Heil</h3>
          <p class="reviews__item-text">
            Everything was on the space level! Recomend this photographer as one of the best in Germany.
          </p>
        </div>   
        
        <div class="reviews__item swiper-slide">
          <img srcset="/img/review/review10.png 1x, /img/review/review10@2x.png 2x" src="/img/review/review10.png"
            alt="Reviewer avatar" class="reviews__item-image" loading="lazy" width="80" />
          <h3 class="reviews__item-title">Sasha Kreosan</h3>
          <p class="reviews__item-text">
            Good price, awesome quality and perfect atmosphere on the photoshoot. Now I have best photos with my boys!
          </p>
        </div>

      </div>
    </div>
    <div class="reviews__swiper-pagination"></div>
    <button type="button" class="reviews-button" data-open-modal="2">
      Leave a review
    </button>
  </div>
</section>