<section class="unique-components" id="unique-components">
    <div class="container unique-components-container">
        <h2 class="unique-components-heading">
            IT ALL ADDS UP TO ONE EXCEPTIONAL <span>VISUAL</span> SENSATION
        </h2>

        <p class="unique-components-desc">
            At Yaroshenko.Art, we believe that the secret to exceptional photoshoot
            is in the details. From the sourcing of the finest equipment to the
            careful gathered of each individual piece, every step of our process adds
            up to one exceptional visual sensation.
        </p>

        <ul class="components-list">
            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                        <div class="component-flip-card-front">
                            <picture>
                                <source srcset="
                    /img/ingridients/ingredients-tab-mob.png    1x,
                    /img/ingridients/ingredients-tab-mob@2x.png 2x
                  " media="(max-width: 1199px)" />

                                <source srcset="
                    /img/ingridients/ingredients-desk.png    1x,
                    /img/ingridients/ingredients-desk@2x.png 2x
                  " media="(min-width: 1200px)" />

                                <img src="/img/ingridients/ingredients-tab-mob.png" alt="top cameras"
                                    loading="lazy" />
                            </picture>
                            <p>TOP CAMERAS</p>
                        </div>


                        <div class="component-flip-card-back">
                            <p class="component-flip-card-back-heading">Top cameras</p>
                            <div class="component-flip-card-back-buttons">
                                <button class="component-flip-card-back-button">
                                    top cameras
                                </button>
                                <button class="component-flip-card-back-button">
                                    benefits
                                </button>
                            </div>
                            <p class="component-flip-card-back-description">
                                Canon EF 24-70mm f/2.8L II USM lens delivers superb image quality across the entire focal length range with aspherical, ultra-low dispersion (UD) and super UD glass lenses. The new optical system design provides maximum sharpness across the entire field.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                        <div class="component-flip-card-front">
                            <picture>
                                <source srcset="
                    /img/ingridients/ingredients2-tab-mob.png    1x,
                    /img/ingridients/ingredients2-tab-mob@2x.png 2x
                  " media="(max-width: 1199px)" />

                                <source srcset="
                    /img/ingridients/ingredients2-desk.png    1x,
                    /img/ingridients/ingredients2-desk@2x.png 2x
                  " media="(min-width: 1200px)" />

                                <img src="/img/ingridients/ingredients2-tab-mob.png" alt="equipment" loading="lazy" />
                            </picture>
                            <p>BEST EQUIPMENT</p>
                        </div>
                        <div class="component-flip-card-back">
                            <p class="component-flip-card-back-heading">BEST EQUIPMENT</p>
                            <div class="component-flip-card-back-buttons">
                                <button class="component-flip-card-back-button">equipment</button>
                                <button class="component-flip-card-back-button">
                                    benefits
                                </button>
                            </div>
                            <p class="component-flip-card-back-description">
                                Photo processing is carried out on Apple technology: iPad and MacBook. Apple introduced a new product
                                to its line of tablets in 2024 - the iPad Pro 11. This tablet includes advanced technologies in a more
                                compact format, designed for those who want mobility without losing productivity. The Apple iPad Pro 11
                                 2024 runs on the iPadOS 17 operating system for a smooth, intuitive experience.
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                        <div class="component-flip-card-front">
                            <picture>
                                <source srcset="
                    /img/ingridients/ingredients3-tab-mob.png    1x,
                    /img/ingridients/ingredients3-tab-mob@2x.png 2x
                  " media="(max-width: 1199px)" />

                                <source srcset="
                    /img/ingridients/ingredients3-desk.png    1x,
                    /img/ingridients/ingredients3-desk@2x.png 2x
                  " media="(min-width: 1200px)" />

                                <img src="/img/ingridients/ingredients3-tab-mob.png" alt="studio" loading="lazy" />
                            </picture>
                            <p>MODERN STUDIO</p>
                        </div>
                        <div class="component-flip-card-back">
                            <p class="component-flip-card-back-heading">Modern studio</p>
                            <div class="component-flip-card-back-buttons">
                                <button class="component-flip-card-back-button">modern studio</button>
                                <button class="component-flip-card-back-button">
                                    benefits
                                </button>
                            </div>
                            <p class="component-flip-card-back-description">
                                Yaroshenko Studio is a place where inspiration never leaves you.
Here we have collected all the best that a photographer and model needs: incredibly creative and cozy atmosphere. Always friendly staff, thoughtful locations and equipment
                            </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="components-list-item">
                <div class="component-flip-card">
                    <div class="component-flip-card-inner">
                        <div class="component-flip-card-front">
                            <picture>
                                <source srcset="
                    /img/ingridients/ingredients4-tab-mob.png    1x,
                    /img/ingridients/ingredients4-tab-mob@2x.png 2x
                  " media="(max-width: 1199px)" />

                                <source srcset="
                    /img/ingridients/ingredients4-desk.png    1x,
                    /img/ingridients/ingredients4-desk@2x.png 2x
                  " media="(min-width: 1200px)" />

                                <img src="/img/ingridients/ingredients4-tab-mob.png" alt="software"
                                    loading="lazy" />
                            </picture>
                            <p>SPECIAL SOFTWARE</p>
                        </div>
                        <div class="component-flip-card-back">
                            <p class="component-flip-card-back-heading">
                                Special software
                            </p>
                            <div class="component-flip-card-back-buttons">
                                <button class="component-flip-card-back-button">
                                    special software
                                </button>
                                <button class="component-flip-card-back-button">
                                    benefits
                                </button>
                            </div>
                            <p class="component-flip-card-back-description">
                                With the help of specialized programs, including
                                Photoshop with the function of generative AI, we create excellent photos,
                                shading, color alignment and imperfections. Only licensed software is used in the work.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>